@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;

    /* glass bg */
    /* color: rgba(58, 20, 94, 0.25);; */

    /* glass border */
    /* color: rgba(157, 78, 221, 0.35);; */

    color: #ffffff33;
}